<table class='table table-bordered'>
  <thead>
    <th>
      Tea
    </th>
    <th>
      Information
      <span class='sort-teas dropdown'>
        Sort By Price
        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1"
        data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        {{teasCtrl.sortTitle}}
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
        <li><a href="#/" ng-click='teasCtrl.setSort("highest")'>highest</a></li>
        <li><a href="#/" ng-click='teasCtrl.setSort("lowest")'>lowest</a></li>
      </ul>
    </span>
  </th>
</thead>
<tbody>
  <tr ng-repeat='tea in teasCtrl.all | orderBy: teasCtrl.sortBy'>
    <td>
      <img ng-src="{{tea.imageUrl}}" alt="{{tea.name}}" />
    </td>
    <td class='tea-info'>
    <tea-card></tea-card>
    </td>
  </tr>
</tbody>

</table>
